<div><h2>Search Gems</h2></div>
  <form id="search-bar" name="search-form" onsubmit="return search()">
    <input class="search" name="query" placeholder="Search RubyGems" type="text" >
    <input type="image" name="image-btn" id="image-btn" value="" src="/assets/magnifying-glass.png"/>
  </form>
  <ul id="results"></ul>

</div>
